@charset "UTF-8";

body{
    margin: 50px;
    font-size: 100%;
    font-family: "Arial", "メイリオ", sans-serif;

    /* 配色の設定 */
    background-color: #10101A;
    color: #fff;
}

/* タイトルの設定 */
.page_title{
    font-size: 1.5rem;
}
.topic_title{
    margin: 0;
    font-size: 1.25rem;
}
.topic_title::before{
	content:"〈 "
}
.topic_title::after{
	content:" 〉"
}

/* リスト全体の設定 */
ul{
    padding-left: 1rem;
}
li{
    margin-top: 1rem;
}

/* リスト(レベル1)の設定 */
.list_level1{
    padding-left: 3rem;
}

/* コメントの設定 */
.comment{
    margin: 0;
    padding-left: 1rem;
    font-size: 0.75rem;
    text-indent: -0.75rem;
}
.comment::before{
    content: "\203B";
}

/* footerの設定 */
footer p{
    text-align: right;
	font-size: 0.75rem;
}